/*------------------------------------*\
    STYLES
\*------------------------------------*/
/*
 * All styling is done in a modular fashion, so each component should have it's own sass file
 * 
 */
/*------------------------------------*\
    Reset
\*------------------------------------*/
/*
 * Because browsers have defaults and they suck, so let's bring it all back to 0
 * Eric Meyers Reset + some box-sizing magic
 */
/* line 26, base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 36, base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 39, base/_reset.scss */
body {
  line-height: 1;
}

/* line 42, base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 45, base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 49, base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 53, base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 59, base/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*------------------------------------*\
    Brand styles
\*------------------------------------*/
/*
 * All styling related to your awesome brand
 * 
 * Brand Colour variables
 */
/*------------------------------------*\
    Media Queries
\*------------------------------------*/
/*
 * Defining the break points and media queries mixin
 *
 * Breakpoint Variables
 * Media Query Mixin
 */
/*------------------------------------*\
    Typography
\*------------------------------------*/
/*
 * All the typography styling in this hurr file
 * 
 * Document-wide Typeface
 * Headers
 * Set rem font size + px fallback
 */
/* line 20, base/_typography.scss */
body {
  font-family: "lato", helvetica, arial, sans-serif;
  font-weight: 300;
}

/* line 31, base/_typography.scss */
h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

/* line 35, base/_typography.scss */
h2 {
  font-size: 30px;
}

/* line 38, base/_typography.scss */
h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

/* line 42, base/_typography.scss */
h4 {
  font-size: 18px;
}

/*------------------------------------*\
    Helper Classes/Mixins
\*------------------------------------*/
/*
 * Dope helper classes and mixins to use in your things yo.
 * 
 * Border Radius
 * Box Shadow
 * Positioning/Alignment/Visibility
 * Transitions
 */
/* line 33, base/_helper.scss */
.border-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 62, base/_helper.scss */
.centered {
  text-align: center;
}

/* line 65, base/_helper.scss */
.upper {
  text-transform: uppercase;
}

/* line 68, base/_helper.scss */
.pull-right {
  float: right;
}

/* line 71, base/_helper.scss */
.hidden {
  display: none;
  opacity: 0;
}

/* line 75, base/_helper.scss */
.visible {
  display: block;
  opacity: 1;
}

/* line 79, base/_helper.scss */
.word-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

/* line 103, base/_helper.scss */
.transition, header, section, footer {
  transition: all .3s;
}

/*------------------------------------*\
    Input Elements
\*------------------------------------*/
/*
 * Styling for all the different input types and elements
 */
/* line 12, components/_inputs.scss */
::-webkit-input-placeholder {
  color: #555;
}

/* line 15, components/_inputs.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #555;
}

/* line 18, components/_inputs.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #555;
}

/* line 21, components/_inputs.scss */
:-ms-input-placeholder {
  color: #555;
}

/* line 27, components/_inputs.scss */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* line 35, components/_inputs.scss */
input {
  float: left;
  border: 2px solid #333;
  padding: 15px;
  font-size: 20px;
  color: #999;
  background: #222;
  border-radius: 5px;
  height: 60px;
  line-height: 60px;
  width: calc(100% - 200px);
  margin-right: 20px;
}

/* line 53, components/_inputs.scss */
.AD-button {
  float: left;
  width: 140px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background: #17b784;
  font-size: 18px;
  text-decoration: none;
}

/* line 1, components/_gradientBG.scss */
body {
  background-color: #0e0438;
  padding: 0px;
  margin: 0px;
}

/* line 7, components/_gradientBG.scss */
#gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 10;
}

/* line 16, components/_gradientBG.scss */
#gradient2 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 3;
  background-image: -webkit-radial-gradient(80% 10%, circle, #1bba87, transparent), -webkit-radial-gradient(80% 50%, circle, #3aa4b2, transparent), -webkit-radial-gradient(20% 80%, 40em 40em, #0e0438, transparent), -webkit-radial-gradient(10% 10%, circle, #44f2d7, transparent);
}

/*------------------------------------*\
    Structure
\*------------------------------------*/
/*
 * If we don't give it structure, how will it find it's way in life? - MKZ
 * 
 * Structural HTML Tags
 * Structure Classes
 */
/* line 19, layout/_structure.scss */
body {
  background: #222;
  color: white;
}

/* line 23, layout/_structure.scss */
header, section, footer {
  float: left;
  width: 100%;
}

/* line 36, layout/_structure.scss */
.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 40;
}

/* line 42, layout/_structure.scss */
.content {
  margin-top: 200px;
}

/* line 45, layout/_structure.scss */
.response {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-image: url(/images/deepa-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 64, layout/_structure.scss */
.response h1 {
  color: white;
  font-weight: 700;
}

/* line 69, layout/_structure.scss */
.response-content {
  position: absolute;
  z-index: 40;
  width: 100%;
}

/* line 74, layout/_structure.scss */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* line 94, layout/_structure.scss */
.try-again {
  float: left;
  width: 100%;
  text-align: center;
  z-index: 15;
}
/* line 100, layout/_structure.scss */
.try-again a {
  color: #FFF;
  text-decoration: none;
  padding-bottom: 10px;
  opacity: 0.3;
}
/* line 106, layout/_structure.scss */
.try-again a:hover {
  border-bottom: 2px solid #FFF;
}

/* line 112, layout/_structure.scss */
.deepa-figure {
  position: relative;
  width: 220px;
  text-align: center;
  margin: 60px auto 100px;
  height: 300px;
}
/* line 119, layout/_structure.scss */
.deepa-figure .deepa-face, .deepa-figure .deepa-body {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 125, layout/_structure.scss */
.deepa-figure .deepa-body img {
  max-width: 90%;
  margin-top: 10px;
}
/* line 130, layout/_structure.scss */
.deepa-figure .deepa-face {
  z-index: 2;
}

/* line 137, layout/_structure.scss */
.hint {
  float: left;
  width: 100%;
  margin-top: 200px;
  color: #333;
  text-align: center;
}
/* line 144, layout/_structure.scss */
.hint a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 10px;
}
/* line 149, layout/_structure.scss */
.hint a:hover {
  border-bottom: 2px solid #333;
}
/* line 153, layout/_structure.scss */
.hint .hint-content {
  margin-top: 40px;
  color: #444;
}
/* line 157, layout/_structure.scss */
.hint .hint-content li {
  margin-bottom: 5px;
}

@-webkit-keyframes jiggle {
  /* line 220, layout/_structure.scss */
  25% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  /* line 223, layout/_structure.scss */
  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@-moz-keyframes jiggle {
  /* line 220, layout/_structure.scss */
  25% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  /* line 223, layout/_structure.scss */
  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@-ms-keyframes jiggle {
  /* line 220, layout/_structure.scss */
  25% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  /* line 223, layout/_structure.scss */
  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@keyframes jiggle {
  /* line 220, layout/_structure.scss */
  25% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  /* line 223, layout/_structure.scss */
  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

/* line 228, layout/_structure.scss */
.jiggle, .deepa-figure .deepa-face {
  -webkit-animation: jiggle 0.4s infinite;
  -moz-animation: jiggle 0.4s infinite;
  -ms-animation: jiggle 0.4s infinite;
  animation: jiggle 0.4s infinite;
}

/*------------------------------------*\
    Header
\*------------------------------------*/
/*
 * Head and shoulders, knees and toes, knees and toes, knees and toes
 */
/* line 11, sections/_header.scss */
header {
  height: 60px;
  background: white;
  border-bottom: 1px solid #333333;
}

/*------------------------------------*\
    Footer
\*------------------------------------*/
/*
 * Footer / Footie / Foosball / Football / FC Barcelona / Champions / We are the champions, my friends.
 */
