/*------------------------------------*\
    STYLES
\*------------------------------------*/
/*
 * All styling is done in a modular fashion, so each component should have it's own sass file
 * 
 */
/*------------------------------------*\
    Reset
\*------------------------------------*/
/*
 * Because browsers have defaults and they suck, so let's bring it all back to 0
 * Eric Meyers Reset + some box-sizing magic
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*------------------------------------*\
    Brand styles
\*------------------------------------*/
/*
 * All styling related to your awesome brand
 * 
 * Brand Colour variables
 */
/*------------------------------------*\
    Media Queries
\*------------------------------------*/
/*
 * Defining the break points and media queries mixin
 *
 * Breakpoint Variables
 * Media Query Mixin
 */
/*------------------------------------*\
    Typography
\*------------------------------------*/
/*
 * All the typography styling in this hurr file
 * 
 * Document-wide Typeface
 * Headers
 * Set rem font size + px fallback
 */
body {
  font-family: "lato", helvetica, arial, sans-serif;
  font-weight: 300; }

h1 {
  font-size: 60px;
  margin-bottom: 20px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 21px;
  margin-bottom: 10px; }

h4 {
  font-size: 18px; }

/*------------------------------------*\
    Helper Classes/Mixins
\*------------------------------------*/
/*
 * Dope helper classes and mixins to use in your things yo.
 * 
 * Border Radius
 * Box Shadow
 * Positioning/Alignment/Visibility
 * Transitions
 */
.border-radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.centered {
  text-align: center; }

.upper {
  text-transform: uppercase; }

.pull-right {
  float: right; }

.hidden {
  display: none;
  opacity: 0; }

.visible {
  display: block;
  opacity: 1; }

.word-wrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.transition, header, section, footer {
  transition: all .3s; }

/*------------------------------------*\
    Input Elements
\*------------------------------------*/
/*
 * Styling for all the different input types and elements
 */
::-webkit-input-placeholder {
  color: #555; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #555; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #555; }

:-ms-input-placeholder {
  color: #555; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

input {
  float: left;
  border: 2px solid #333;
  padding: 15px;
  font-size: 20px;
  color: #999;
  background: #222;
  border-radius: 5px;
  height: 60px;
  line-height: 60px;
  width: calc(100% - 200px);
  margin-right: 20px; }

.AD-button {
  float: left;
  width: 140px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: white;
  border-radius: 5px;
  background: #17b784;
  font-size: 18px;
  text-decoration: none; }

body {
  background-color: #0e0438;
  padding: 0px;
  margin: 0px; }

#gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 10; }

#gradient2 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  z-index: 3;
  background-image: -webkit-radial-gradient(80% 10%, circle, #1bba87, transparent), -webkit-radial-gradient(80% 50%, circle, #3aa4b2, transparent), -webkit-radial-gradient(20% 80%, 40em 40em, #0e0438, transparent), -webkit-radial-gradient(10% 10%, circle, #44f2d7, transparent); }

/*------------------------------------*\
    Structure
\*------------------------------------*/
/*
 * If we don't give it structure, how will it find it's way in life? - MKZ
 * 
 * Structural HTML Tags
 * Structure Classes
 */
body {
  background: #222;
  color: white; }

header, section, footer {
  float: left;
  width: 100%; }

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 40; }

.content {
  margin-top: 200px; }

.response {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: url(/images/deepa-bg-1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }
  .response h1 {
    color: white;
    font-weight: 700; }

.response-content {
  position: absolute;
  z-index: 40;
  width: 100%; }

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed; }

.try-again {
  float: left;
  width: 100%;
  text-align: center;
  z-index: 15; }
  .try-again a {
    color: #FFF;
    text-decoration: none;
    padding-bottom: 10px;
    opacity: 0.3; }
    .try-again a:hover {
      border-bottom: 2px solid #FFF; }

.deepa-figure {
  position: relative;
  width: 220px;
  text-align: center;
  margin: 60px auto 100px;
  height: 300px; }
  .deepa-figure .deepa-face, .deepa-figure .deepa-body {
    position: absolute;
    top: 0;
    left: 0; }
  .deepa-figure .deepa-body img {
    max-width: 90%;
    margin-top: 10px; }
  .deepa-figure .deepa-face {
    z-index: 2; }

.hint {
  float: left;
  width: 100%;
  margin-top: 200px;
  color: #333;
  text-align: center; }
  .hint a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 10px; }
    .hint a:hover {
      border-bottom: 2px solid #333; }
  .hint .hint-content {
    display: none;
    margin-top: 40px;
    color: #444; }
    .hint .hint-content li {
      margin-bottom: 5px; }

@-webkit-keyframes jiggle {
  25% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }

  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); } }

@-moz-keyframes jiggle {
  25% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }

  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); } }

@-ms-keyframes jiggle {
  25% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }

  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); } }

@keyframes jiggle {
  25% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg); }

  75% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg); } }

.jiggle, .deepa-figure .deepa-face {
  -webkit-animation: jiggle 0.4s infinite;
  -moz-animation: jiggle 0.4s infinite;
  -ms-animation: jiggle 0.4s infinite;
  animation: jiggle 0.4s infinite; }

/*------------------------------------*\
    Header
\*------------------------------------*/
/*
 * Head and shoulders, knees and toes, knees and toes, knees and toes
 */
header {
  height: 60px;
  background: white;
  border-bottom: 1px solid #333333; }

/*------------------------------------*\
    Footer
\*------------------------------------*/
/*
 * Footer / Footie / Foosball / Football / FC Barcelona / Champions / We are the champions, my friends.
 */
