<!DOCTYPE html>
<html ng-app="scotchApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="As a question to our beloved co-worked, Deepa.">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <title>As a question to our beloved co-worked, Deepa.</title>

    <link href="//fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular-route.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">
    <div class="wrapper animated-slow fadeIn" ng-if="!output">
        <div class="container text-center">
            <div class="content">
                <h1><span class="no-wrap">Ask Deepa.</span> <span class="no-wrap">She knows all.</span></h1>
                <div class="input">
                    <input ng-model="customInput" placeholder='ex. "Can I go home now?" or "Do I really have to?"'/>
                    <a class="AD-button" href="" ng-click="custom(customInput)">Ask Away</a>
                </div>
                <div class="description">
                    <p>Our beloved Director of Operations, Deepa, is leaving on maternity leave. In her absence, you can address all your questions to her here</p>
                </div>
                <div class="hint">
                    <a class="hint-text" href="" ng-click="toggleHint()">Need a hint?</a>
                    <ul class="hint-content" ng-if="hintVisible">
                        <h3>Try a phrase with these keywords</h3>
                        <li>"bathroom"</li>
                        <li>"home"</li>
                        <li>"have to"</li>
                        <li>"problem"</li>
                        <li>"issue"</li>
                        <li>"vacation"</li>
                        <li>"bug"</li>
                        <li>"Mike"</li>
                    </ul>
                </div>              
            </div>        
        </div>    
    </div>
    <div class="wrapper response" style="background-image: url({{randBackground}});" ng-if="output">
        <div class="modal"></div>
        <div class="response-content">
            <div class="container text-center">
                <div class="content">
                    <h1>{{ output }}</h1>              

                    <div class="deepa-figure">
                        <div class="deepa-face"><img src="/images/deepa-face-1.png"></div>
                        <div class="deepa-body"><img src="/images/deepa-1.png"></div>
                    </div>
                </div>
                <div class="try-again">
                    <a href="" ng-click="reset()">Another Question?</a> 
                </div>                   
            </div> 
        </div>
    </div>
  
</body>
</html>