
/*------------------------------------*\
    Structure
\*------------------------------------*/

/*
 * If we don't give it structure, how will it find it's way in life? - MKZ
 * 
 * Structural HTML Tags
 * Structure Classes
 */





//---------- Structural HTML Tags ---------

body {
    background: #222;
    color: $white;
}
header, section, footer {
    @extend .transition;
    float: left;
    width: 100%;
}





//---------- Structure Classes ---------

// setting the max-width and centering the container
.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    z-index: 40;
}
.content {
    margin-top: 200px;
}
.response {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(/images/deepa-bg-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

    h1 {
        color: $white;
        font-weight: 700;
        
    }
}
.response-content {
    position: absolute;
    z-index: 40;
    width: 100%;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}




//---------- Page specific Classes ---------

.try-again {
    float: left;
    width: 100%;
    text-align: center;
    z-index: 15;

    a {
        color: #FFF;
        text-decoration: none;
        padding-bottom: 10px;
        opacity: 0.3;

        &:hover {
            border-bottom: 2px solid #FFF;
        }
    }
}

.deepa-figure {
    position: relative;
    width: 220px;
    text-align: center;
    margin: 60px auto 100px;
    height: 300px;

    .deepa-face, .deepa-body {
        position: absolute;
        top: 0;
        left: 0;
    }
    .deepa-body {
        img {
            max-width: 90%;
            margin-top: 10px;
        }
    }
    .deepa-face {
        z-index: 2;
        @extend .jiggle;
    }
}


.hint {
    float: left;
    width: 100%;
    margin-top: 200px;
    color: #333;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
        padding-bottom: 10px;

        &:hover {
            border-bottom: 2px solid #333;
        }
    }
    .hint-content {
        display: none;
        margin-top: 40px;
        color: #444;

        li {
            margin-bottom: 5px;
        }
    }
}

























//---------- Animation Mixins ---------

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    -moz-animation: #{$animation};
    -ms-animation: #{$animation};
    animation: #{$animation};
}
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}


//---------- Jiggle animation ---------

@include keyframes(jiggle) {
    25% {
        @include transform(rotate(-5deg));
    }
    75% {
        @include transform(rotate(5deg));
    }
}

.jiggle {
    @include animation(jiggle 0.4s infinite);
}







