
/*------------------------------------*\
    Structure
\*------------------------------------*/

/*
 * If we don't give it structure, how will it find it's way in life? - MKZ
 * 
 * Structural HTML Tags
 * Structure Classes
 */





//---------- Structural HTML Tags ---------

body {
    background: #222;
    color: $white;
}
header, section, footer {
    @extend .transition;
    float: left;
    width: 100%;
}
footer {
    margin: 150px 0 15px;
    color: #444;
    text-align: center;

    a {
        padding-bottom: 2px;
        border-bottom: 2px solid #444;
    }
}

a {
    color: inherit;
    text-decoration: none;
}


//---------- Structure Classes ---------

// setting the max-width and centering the container
.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    z-index: 40;
}
.content {
    margin-top: 160px;

    @include media-query(mobile) {
        margin-top: 60px;
    }
}
.response {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 780px;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
    background-image: url(/images/deepa-bg-1.jpg);
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

    h1 {
        color: $white;
        font-weight: 700;        
    }
    .content {
        margin-top: 120px;
    }

    @include media-query(mobile) {

        h1 {
            font-size: 34px;
        }
        .content {
            margin-top: 60px;
        }
    }
}
.response-content {
    position: absolute;
    z-index: 40;
    float: left;
    width: 100%;
}
.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}




//---------- Page specific Classes ---------

.try-again {
    float: left;
    width: 100%;
    text-align: center;
    z-index: 15;
    padding-bottom: 40px;

    a {
        float: none;
        padding: 15px 30px; 
    }
}

.deepa-figure {
    position: relative;
    width: 220px;
    text-align: center;
    margin: 60px auto 60px;
    height: 300px;

    .deepa-face, .deepa-body {
        position: absolute;
        top: 0;
        left: 0;
    }
    .deepa-body {
        img {
            max-width: 88%;
            margin-top: 10px;
        }
    }
    .deepa-face {
        z-index: 2;
        @extend .jiggle;
    }

    @include media-query(mobile) {
        height: 240px;
        margin-bottom: 60px;

        .deepa-body {
            img {
                max-width: 72%;
            }
        }
        .deepa-face {
            img {
                max-width: 85%;
            }
        }
    }
}


.description {
    float: left;
    width: 100%;
    margin: 150px 0 50px;

    p {
        width: 60%;
        margin: 0 auto;
        font-size: 24px;
        line-height: 1.3em;
        font-weight: 100;
        color: #fff;
        text-align: center;
    }

    @include media-query(mobile) {
        margin: 70px 0 20px;

        p {
            width: 100%;
            font-size: 18px;
        }
    }
}
.hint {
    float: left;
    width: 100%;
    margin-bottom: 70px;
    color: #444;
    text-align: center;

    a {
        color: inherit;
        text-decoration: none;
        padding-bottom: 5px;

        &:hover {
            border-bottom: 2px solid #444;
        }
    }
    .hint-content {
        margin-top: 20px;
        color: #444;

        li {
            margin-bottom: 5px;
        }
    }
}

























//---------- Animation Mixins ---------

@mixin animation($animation) {
    -webkit-animation: #{$animation};
    -moz-animation: #{$animation};
    -ms-animation: #{$animation};
    animation: #{$animation};
}
@mixin transform($transform) {
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    transform: $transform;
}
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content; 
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    } 
}


//---------- Jiggle animation ---------

@include keyframes(jiggle) {
    25% {
        @include transform(rotate(-5deg));
    }
    75% {
        @include transform(rotate(5deg));
    }
}

.jiggle {
    @include animation(jiggle 0.4s infinite);
}







